
	
body {
	width: 100%;
	font-family: Arial,Verdana,sans-serif;
	color:#000000 ; 
	background-color:#E0FFFF;
}
h1{
	background-color:#AFEEEE;
    padding:35px;
	text-align: center;
}

	
p {
	font-size: 100%;
	line-height: 2.2em;
	padding: 10px;
}

h2 {
	color:0088dd;
border-bottom: 1px solid #0088dd; }


section img{
	width:44%;
	margin-right:10px;
	float:left;
}


.clear {
	clear:both;
}

main {
	float:left;
	width:45%;
}

aside {
	float:right;
	width:45%
}


table {
	background-color:#FFFFFF;
	width:75%;
}

footer {
 clear: both;
 text-align: center;
background-color:#FFFFFF;
padding: 50px;
	
}

form{
	width:100%;

}


label.campo{
	width:130px;
text-align:right;
display:inline-table;
}